<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCase.ChildWindow"/>
      <class name="TestCase.PropertyExample"/>
      <class name="TestCase.Test_Screenshot"/>
      <class name="TestCase.NewTest"/>
      <class name="TestCase.Test_ActionClassBuild"/>
      <class name="TestCase.ScorllbyElementVisibleHorizantlly"/>
      <class name="TestCase.TC_001_VerifyLogin"/>
      <class name="TestCase.ScollbyElementVisible"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
